.git
node_modules
core/.clojure-lsp
core/.idea
core/.cpcache
core/.shadow-cljs
core/target
core/rsc-out
core/node_modules
dom/.idea
dom/.cpcache
dom/.shadow-cljs
dom/node_modules
dom/client-test
.lsp
.github
core/app.aot
core/app.aotconf
