{:deps {cljs-bean/cljs-bean {:mvn/version "1.9.0"}
        org.clj-commons/hickory {:mvn/version "0.7.7"}
        com.adamrenklint/preo {:mvn/version "0.1.0"}}
 :paths ["src" "resources"]
 :aliases {:dev {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.15.3"}
                              clj-kondo/clj-kondo {:mvn/version "2025.02.20"}}}
           :benchmark {:extra-paths ["benchmark"]
                       :extra-deps {reagent/reagent {:mvn/version "2.0.0"}
                                    lilactown/helix {:mvn/version "0.2.2"}}}

           :test {:extra-paths ["test" "dev"]
                  :extra-deps {thheller/shadow-cljs {:mvn/version "3.2.1"}
                               uix.dom/uix.dom {:local/root "../dom"}
                               clj-diffmatchpatch/clj-diffmatchpatch {:mvn/version "0.0.9.3"}
                               re-frame/re-frame {:mvn/version "1.4.3"}}}

           :release {:extra-paths ["dev"]
                     :extra-deps {appliedscience/deps-library {:mvn/version "0.3.4"}
                                  org.apache.maven/maven-model {:mvn/version "3.6.3"}}
                     :main-opts ["-m" "release"]}

           :examples {:extra-paths ["dev"]
                      :extra-deps {thheller/shadow-cljs {:mvn/version "3.2.1"}
                                   re-frame/re-frame {:mvn/version "1.4.3"}
                                   uix.dom/uix.dom {:local/root "../dom"}}}}}
